.battery {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  &__icon {
    font-size: 40px;
    margin-right: 10px;
  }

  &__charge {
    font-size: 16px;
    color: $grey;
  }
}
