.lock-detail {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__back-button {
    align-self: flex-start;
    border: none;
    background-color: transparent;
    margin-bottom: 20px;
  }

  &__status-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__tab {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    color: #666;
    transition: color 0.3s;

    &.active {
      color: #333;
      font-weight: bold;
    }

    &:hover {
      color: #333;
    }
  }

  &__passwords-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &__actions {
    margin-top: 20px;
  }

  &__alias {
    font-size: 25px;
    margin-bottom: 20px;
    align-self: center;
  }
  &__model,
  &__battery,
  &__privacy,
  &__auto-lock {
    margin-bottom: 10px;
    color: #666;
  }

  &__passwords-title {
    font-size: 16px;
    margin: 0 auto;
    color: #333;
  }

  &__passwords-list {
    list-style-type: none;
    padding: 0;
  }

  &__password-item {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__password-property {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__password-name {
    color: $black;
    margin-right: 5px;
  }
  &__password-value {
    font-weight: bold;
    color: #333;
  }

  &__password-delete {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #b52323;
    }
  }

  &__new-password {
    margin-top: 20px;
  }

  &__new-password-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }

  &__new-password-inputs {
    display: flex;
    flex-direction: column;
  }

  &__new-password-name,
  &__new-password-start-date,
  &__new-password-end-date,
  &__new-password-type {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;

    &:focus {
      outline: none;
      border-color: #2196f3;
    }
  }

  &__new-password-create {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #388e3c;
    }
  }

  &__loading,
  &__error,
  &__not-found {
    font-size: 16px;
    color: #333;
    text-align: center;
  }
}
