.locks-container {
  max-width: 90%;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
}

.lock-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto 5px auto;

  &__data-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0;
    flex-direction: column;
  }

  &__alias {
    font-size: 16px;
    color: $grey;
    margin-bottom: 5px;
  }

  &__gear-container {
    width: 100px;
    height: 100px;
    position: relative;
    color: $grey;
  }

  &__gear-big {
    position: absolute;
    top: 25px;
    right: 20px;
    color: $grey;
    font-size: 50px;
  }

  &__gear-small {
    position: absolute;
    top: 12px;
    right: 7px;
    color: $black;
    font-size: 25px;
  }
}

.battery-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &__charge {
    font-size: 16px;
    color: $grey;
  }
}
